body
{
  background-color: #A9A9A9;
  text-align: left;
}
header{
	width: 100%;
  background-color: #2F4F4F;
  color: #DCDCDC;
  height: 90px;
}
footer{
	width: 100%;
	background-color: #2F4F4F;
	color: #DCDCDC;
  min-height: 50px;
}


#nav-main-wrapper
{
  text-align: center;
}

nav
{
  background-color: #778899;
  font-size: 150%;
}


#logo
{
  width:80px;
  float:left;
  margin-right: 20px;
  margin-top: 5px;
  margin-left: 3%;
}


.content{

	background-color: rgba(199, 220, 227, 0.77);
  width: 100%;
}

#ol
{
  background-color: rgba(199, 220, 227, 0.77);
  width: 100%;
}

#table
  {
    background-color: rgba(199, 220, 227, 0.77);
    width: 100%;
  }

#forma
{
  background-color: rgba(199, 220, 227, 0.77);
  width: 100%;
}
table{
  width: 400px;
  height: 200px;
}
th
{
  text-align: center;
  border: 4px double black;
}
td
{
  text-align: center;
  border: 4px double black;
}

.chet
{
  background-color: #7B68EE;
}

.nechet
{
  background-color: #87CEFA;
}
